/*--------------------------------
  メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
}

.mv img {
  margin: 0 auto;
}

/*--------------------------------
  トップページ
---------------------------------*/

/* about */

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  column-gap: 5%;
}

.about-content {
  line-height: 3;
  letter-spacing: .3rem;
}

.about-wrapper-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 15%;
  column-gap: 5%;
}


.about-content.txt-right {
  text-align: right;
}


.about-servise {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  padding: 2%;
}

.about-servise figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.about-servise-circle {
  position: relative;
}

.about-servise-circle::after {
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translate(50%);
  content: '';
  width: 180px;
  height: 180px;
  border-radius: 62% 38% 63% 37% / 40% 60% 40% 60%;
  background-color: #FFCE83;
  /* 回転アニメーション設定 */
  animation: rotate-anime 25s linear infinite;
  z-index: -1;
}

.about-servise-circle img {
  width: 80%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

@keyframes rotate-anime {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.about-servise h3 {
  text-align: center;
  margin-bottom: 10%;
}

.about-servise p {
  line-height: 1.8;
}

@media screen and (max-width: 768px) {

  .about-wrapper,
  .about-wrapper-reverse {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .about-wrapper-reverse {
    margin-bottom: 30%;
  }

  .about-servise {
    display: block;
  }

  .about-servise figure {
    width: 80%;
    margin: 3rem;
  }
}

/* works */

.works-list {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background-color: #FFCE83;
}

.works-list-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
}

.works-list-wrapper div {
  width: 50%;
  line-height: 2;
}

.works-item .works-title {
  font-size: 2.4rem;
}

.works-item .works-txt {
  font-size: 1.6rem;
}

.works-btn {
  font-size: 2rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  padding: 1rem 4rem;
  background-color: #fff;
  border: 1.5px solid #333;
  border-radius: 100vh;
  transition: 0.5s;
  margin: 30% 0 0 60%;
}

.works-btn:hover {
  color: #fff;
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .works-list-wrapper {
    display: block;
  }

  .works-list-wrapper div {
    width: 100%;
    line-height: 2;
  }

  .works-btn {
    font-size: 1.5rem;
    padding: .5rem 2.5rem;
    margin: 0 0 0 65%;
  }
}

/* profile */

.profile-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 5%;
}

.profile-txt p {
  font-size: 2rem;
  letter-spacing: .3rem;
  font-weight: bold;
  margin-bottom: 3%;
}

.profile-txt li {
  line-height: 1.8;
  letter-spacing: .1rem;
}

@media screen and (max-width: 768px) {
  .profile-wrapper {
    width: 80%;
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }

  .profile-wrapper img {
    margin-bottom: 3rem;
  }

  .profile-txt p {
    letter-spacing: .15rem;
    margin-bottom: 2rem;
  }

  .profile-txt p,
  ul {
    text-align: left;
  }
}

/* skill */

.skill-list {
  display: flex;
  justify-content: center;
  column-gap: 5%;
}

.skill-list+.skill-list {
  margin-top: 3%;
}

/* contact */
.contact-box {
  width: 80%;
  margin: 0 auto;
}

.contact-txt {
  line-height: 1.8;
  letter-spacing: .1rem;
}

.contact-btn {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border: 1.5px solid #FFCE83;
  background-color: #FFCE83;
  color: #333;
  padding: 1rem 4rem;
  margin-top: 5%;
  border-radius: 100vh;
  transition: 0.5s;
  animation: move_a 2s infinite;
}

@keyframes move_a {
  0% {
    transform: translate(0px, 4px);
  }

  5% {
    transform: translate(0px, -4px);
  }

  10% {
    transform: translate(0px, 4px);
  }

  15% {
    transform: translate(0px, -4px);
  }

  20% {
    transform: translate(0px, 4px);
  }

  25% {
    transform: translate(0px, -4px);
  }

  30% {
    transform: translate(0px, 0px);
  }
}

.contact-btn:hover {
  color: #FFCE83;
  background-color: #fff;
}

.contact-btn.btn-center {
  display: block;
  margin: 10% auto 15% auto;
}

@media screen and (max-width: 768px) {
  .contact-btn.btn-center {
    margin: 10% auto 10% auto;
  }
}